{% extends 'base.html' %}
{% block head %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBIafdqsZ-oOe_V2bjhdiED9Rl36eLZA-Y&sensor=true">
  </script>
  <script type="text/javascript"
    src="/media/js/location_detail.js">
  </script>
{% endblock %}
{% block header %}
  {{location.name}}
{% endblock %}
{% block content %}
    <div id="left_col">
      <div id="center_info">
        <div id="navigation">
          <div id="prev"><a href="{{prev}}">prev</a></div>
          <div id="next"><a href="{{next}}">next</a></div>          
        </div>
        <dl>
        	<dt>Address:</dt>
        	<dd>{{location.address}}</dd>
        	<dt>State:</dt>
        	<dd>{{location.state}}</dd>
        	<dt>Zipcode:</dt>
        	<dd>{{location.zipcode}}</dd>
        	<dt>Phone:</dt>
        	<dd>{{location.phone}}</dd>
        	<br/>        	
        	<input type="button" onclick="savePanoramaPov()" value="Save POV">
        	<br/>
        	<dt>Google Address:</dt>
        	<dd>{{location.googleaddress}}</dd>
        	<dt>gaddy:</dt>
        	<dd>{{gaddy}}</dd>
        </dl>
      </div>
      <div id="map_canvas"></div>
    </div>
    <div id="pano_canvas"></div>
  </body>
{% endblock %}

