{% extends 'base.html' %}

{% block head %}
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBIafdqsZ-oOe_V2bjhdiED9Rl36eLZA-Y&sensor=true">
  </script>
  <script type="text/javascript"
    src="/media/js/location_detail.js">
  </script>
  
  <script typt="text/javascript">
  
    var havePerspective = {% if initpers %}true{% else %}false{% endif %};
    
    // Ajaxify Saving the Perspective
    $("#save_pov_form").ajaxForm({url: '/location/save_pov/', type: 'get'})
    

  </script>
  
{% endblock %}

{% block header %}
  {{location.name}}
{% endblock %}

{% block bodyattr %}onload="initialize('{{ gaddy }}')"{% endblock %}

{% block navbaritems %}
  <a href="{{prev}}"><div class="button">&lt;</div></a>
  <a href="{{next}}"><div class="button">&gt;</div></a>
{% endblock %}

{% block content %}
    <div id="left_col">
      <div id="center_info">
        <dl>
        	<dt>Address:</dt>
        	<dd>{{location.address}}</dd>
        	<dt>State:</dt>
        	<dd>{{location.state}}</dd>
        	<dt>Zipcode:</dt>
        	<dd>{{location.zipcode}}</dd>
        	<dt>Phone:</dt>
        	<dd>{{location.phone}}</dd>
        	<br/>        	
        	<form id="save_pov_form" action="/location/save_pov/" method="get">
              <input type="hidden" name="loc" value="{{location.id|default_if_none:"0"}}">
              <input type="hidden" name="lat" value="{{initpers.lat|default_if_none:"0"}}">
              <input type="hidden" name="lng" value="{{initpers.lng|default_if_none:"0"}}">
              <input type="hidden" name="heading" value="{{initpers.heading|default_if_none:"0"}}">
              <input type="hidden" name="pitch" value="{{initpers.pitch|default_if_none:"0"}}">
              <input type="hidden" name="zoom" value="{{initpers.zoom|default_if_none:"1"}}">
              <input type="submit" id="sav_pers_btn" value="Save Perspective">
          </form>
        	<br/>
        	<dt>Google Address:</dt>
        	<dd>{{location.googleaddress}}</dd>
        	<dt>gaddy:</dt>
        	<dd>{{gaddy}}</dd>
        </dl>
      </div>
      <div id="map_canvas"></div>
    </div>
    <div id="pano_canvas"></div>
  </body>
{% endblock %}

